extends ../mainLayout.pug

block styles
    link(rel="stylesheet", href="/css/cart.css")
    script(type="text/javascript", src="/js/main.js")

block content
    main 
        h1 Shopping cart
        div.shopping-cart
            if cart.products && cart.products.length > 0 
                div.row
                    span.span8 Product
                    span.span2 Q-ty
                    span.span2 Price
                    span.span2 Action
                each product in cart.products
                    div.row 
                        span.span8 #{product.info.title} 
                        span.span2 #{product.qty}
                        span.span2 $#{(product.info.price * product.qty)}
                        span.span2 
                            button.btn(onclick="deleteProductFromCart(" + product.id + ")") Delete
                hr
                div TOTAL: $#{cart.totalPrice}

            else
                div
                    span No products in cart yet..
                    a(href="/products") Continue shopping