extends ../mainLayout.pug

block styles
    link(rel="stylesheet", href="/css/cart.css")
    script(type="text/javascript", src="/js/main.js")

block content
    main 
        h1 Orders
        div.shopping-cart
            if orders && orders.length > 0 
                div.row
                    span.span1 #
                    span.span6 Date
                    span.span2 TOTAL
                each order, index in orders
                    div.row 
                        span.span1 #{(index+1)} 
                        span.span6 #{order.createdAt}
                        span.span2 $#{order.totalPrice}
            else
                div
                    span No orders